#console{
    font-family: 'Ubuntu', sans-serif;
    height: 700px;
    padding: 10px;
    margin: 15px;
}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }